	
.centr {
    width: 792px;
    margin-left: 20%;
    margin-left: 20%;
}

.cent {
    text-align: center;
    background-color: yellow;
 }
 .text_center{
    text-align: center;

 }

 .formm{
    margin:25%;
    margin-top: 10%;
    text-align: center;
    background-color: yellow;
 }

 .text_right{
   margin:25%;
   margin-top: 10%;
   text-align: center;
 }